{% extends 'base.html.twig' %}

{% block title %} TestController!{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-4">premiere colonne</div>
        <div class="col-4">
        colonne centrale
            <h1 class="text-center my-4">Test de Bootstrap et de sass</h1>
            <a href="" class="btn btn-primary">BONTON TEST</a>
			<br>
			<p> De quelle couleur est le bouton BOUTON TEST ? </p>
        </div>
        <div class="col-4"> derniere colonne</div>
    </div>
</div>

{% endblock %}
